/*{

margin: 0;
padding: 0;

}*/
/*subir archivo a git*/
body{
    background: rgb(3, 61, 83);
}
.menu{
    list-style: none;
    background: rgb(161, 150, 46);
    padding: 15px 5px;
    max-width: 1024px;
    margin: auto;
}
.menu li{
    display: inline-block;
    /*padding: 10px ;*/
    /*border: 1px solid gray;*/
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 10px ;
}
.menu li a:hover{
    text-decoration: none;
    color: black;
    background: rgb(217, 221, 156);
    text-transform: uppercase;
    border-bottom: 2px solid rgb(37, 37, 35) ;
}